* {
  font-size: 16rem;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1px;
  font-family: Arial;
}

@media (max-width: 800px) {
  html {
    font-size: 1px;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 0.8px;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 0.7px;
  }
}

body {
  height: 140vh;
}

header {
  position: relative;
  background-color: #ebebeb;
  -webkit-box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.529);
          box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.529);
  position: relative;
  padding: 15rem 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 430px) {
  header {
    padding: 15rem 15rem;
  }
}

header .logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-section img {
  width: 80rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10rem rgba(0, 0, 0, 0.809);
          box-shadow: 0 0 10rem rgba(0, 0, 0, 0.809);
}

header .logo-section .logo-font {
  overflow: hidden;
  display: inline-block;
  font-size: 18rem;
  color: white;
  padding: 8rem 35rem;
  text-transform: uppercase;
  border-radius: 2rem;
  margin-left: 20rem;
  letter-spacing: 8px;
  text-shadow: -3rem 2rem 1rem #cccccc;
  -webkit-box-shadow: 0 0 10rem rgba(0, 0, 0, 0.809);
          box-shadow: 0 0 10rem rgba(0, 0, 0, 0.809);
  background: black;
  background: linear-gradient(117deg, black 0%, black 52%, white 52%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

header .logo-section .logo-font span {
  color: black;
  text-shadow: -3rem 2rem 1rem #575757;
}

header .nav-icon {
  position: fixed;
  z-index: 5;
  padding: 8px 10px;
  right: 20rem;
  background-color: #ebebeb;
  border-radius: 3px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

@media (max-width: 500px) {
  header .nav-icon {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 430px) {
  header .nav-icon {
    right: 5rem;
  }
}

header .nav-icon .nav-line {
  width: 22px;
  height: 2px;
  background-color: #494949;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

header .nav-icon .nav-line:not(:last-child) {
  margin-bottom: 4px;
}

.nav-bar-container {
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  overflow: hidden;
}

.nav-bar-container .nav-bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  right: -30vw;
  background-color: black;
  height: 100vh;
  width: 30vw;
  padding-top: 20vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

@media (max-width: 900px) {
  .nav-bar-container .nav-bar {
    width: 50vw;
    right: -50vw;
  }
}

.nav-bar-container .nav-bar ul {
  list-style: none;
  margin-bottom: auto;
}

.nav-bar-container .nav-bar ul li {
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 10rem 20rem;
  background-image: linear-gradient(117deg, black 0%, black 52%, white 52%, white 100%);
  background-size: 0%;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 2px;
  overflow: hidden;
}

.nav-bar-container .nav-bar ul li:not(:last-child) {
  margin-bottom: 20rem;
}

.nav-bar-container .nav-bar ul li:hover {
  background-size: 250%;
  color: black;
}

.nav-bar-container .nav-bar .foot {
  font-size: 12rem;
  color: #505050;
  padding: 15rem 25%;
  border-top: 0.1px solid #505050;
  margin-bottom: 10rem;
}

.nav-icon-toggle {
  background-color: transparent !important;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

.nav-line-1,
.nav-line-2,
.nav-line-3 {
  background-color: #777777 !important;
}

.nav-line-1 {
  -webkit-transform: rotate(45deg) translateY(-2.3px);
          transform: rotate(45deg) translateY(-2.3px);
}

.nav-line-2 {
  visibility: hidden;
}

.nav-line-3 {
  -webkit-transform: rotate(-45deg) translateY(2.3px);
          transform: rotate(-45deg) translateY(2.3px);
}

.back-drop {
  position: fixed;
  z-index: 3;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.bar-container-toggle {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

.bar-toggle {
  right: 0 !important;
}

.back-drop-toggle {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */
